<div class="container-fluid">
    <form #ng="ngForm" (ngSubmit)="submit(ng.value)" class="modal-header">
        <div class="modal-header">
            <h4 class="modal-title">Name</h4><br>
            <input type="text" class="form-input" name="name" placeholder="Enter User Name" ngModel />
                
        </div><br>
        <div class="modal-header">
            <h4 class="modal-title">Phone</h4><br>
            <input type="number" class="form-input" name="phone" placeholder="Enter Phone number" ngModel />
        </div>
        
        <button >Submit</button>
    </form>
</div>


<div class="container-fluid">
    <button>
        <a routerLink="login">Login, If account already exist</a>
    </button>
    
</div>
